@media only screen and (max-width: 480px) {

  .hero-title{
    font-size: 33px;
  }
  .play-section{
    margin-top: -99px;
  }
  .play-icon{
    font-size: 55px;
  }

  .choose-card{
    padding: 10px;
    text-align: center;
  }
  .choose-title{
    font-size: 12px;
  }
  .choose-text{
    display: none;
  }
  .choose-btn{
    font-size: 10px;
  }

}